.msgRed {
    float:left;
    font-weight: bold;
    font-size:1em;
    color: #red;
}

label.checkbox_checked ,
label.checkbox_unchecked,
label.radio_checked,
label.radio_unchecked {
    display:block;
    margin: 10px 0;
    padding-left: 25px;
    text-align: left;
}

label.checkbox_checked ,
label.radio_unchecked {
    background: transparent url('++resource++evaluation.images/checkbox.gif') no-repeat;
}

label.radio_checked,
label.checkbox_unchecked{
    background: transparent url('++resource++evaluation.images/tick.gif') no-repeat;
}



.QuestionTitle {
    background: #AAAAAA;
    color: white;
    display: block;
    font-size: 120%;
    -moz-border-radius: 5px;
         border-radius: 5px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
       position: absolute;
       left: -1000px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
