[buildout]

parts += customproductdistros

eggs +=
        ${custom:eggs}

zcml +=
        ${custom:zcml}

[custom]
eggs =

zcml =

[instance]
products += ${customproductdistros:location}

[customproductdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

### Put source URLs for products that you want to checkout from mr.developer in this [sources] section
#format is:
#eggname = git git@server:path/to/repo.git branch=branchname
#OR
#eggname = svn http://server/path/to/svn/repo
[sources]
